*{margin: 0%;
    padding: 0;
    box-sizing: border-box;}


/*--------- Cabeçalho ------- */
.cima{
    font-size: 15px;
    font-family: arial;
    color: white;
}
.f1 p{
    font-size: 16px;
    color: white;
    padding-top: 16px;
}

.divisao{
    display: flex;
    justify-content: flex-end;
    background-color: #5C2AA9;
    height: 50px;
}

.paula img{
   
    margin-right: 800px;
    height: 58px;
}

.inicio{
    margin-left: 10px;
    margin-right: 20px;
}
.inicio img{
    height: 18px;
    margin-top: 17px;
}

.trabalho{
    margin-left: 10px;
    margin-right: 20px;
}
.trabalho img{
    height: 18px;
    margin-top: 17px;
}

.profissao{
    margin-left: 10px;
    margin-right: 20px;
}
.profissao img{
    height: 18px;
    margin-top: 17px;
}

.telefone{
    margin-left: 10px;
    margin-right: 20px;
}
.telefone img{
    height: 18px;
    margin-top: 17px;
}

.pranche{
    margin-left: 10px;
    margin-right: 100px;
}
.pranche img{
    height: 18px;
    margin-top: 17px;
}

/*--------- Cabeçalho ------- */
.divisaoC{
    display: flex;
    justify-content: flex-end;
    background-color: #5C2AA9;
    height: 70px;
}
.contF{
   
    margin-right: 350px;
    height: 58px;
}

.contF p{
    margin-top: 7px;
    color: white;
}

.lado{
    padding: 2px;
    margin-left: 20px;
    font-size: 12px;
}

.whats{
    margin-left: 10px;
    margin-right: 40px;
}
.whats img{
    height: 40px;
    margin-top: 13px;
}

.linkedin{
    margin-left: 10px;
    margin-right: 40px;
}
.linkedin img{
    height: 40px;
    margin-top: 10px;
}

.github{
    margin-left: 10px;
    margin-right: 110px;
}
.github img{
    height: 60px;

}

.linha{
    color: white;
    margin-top: 13px;
    margin-right: 300px;
}


/*--------- Tela de Inicio ------- */

.fundo{
    height: 610px;
    width: 1000px;
    
}

.bprinicipalI{
    background-color: #8779FA;
}

/*--------- Tela de Curriculo ------- */

.fundoC{
    height: 610px;
    width: 800px;
    
}

.bprinicipal{
    background-color: #8075DB;
} 



/*--------- Tela de Profissao ------- */

.fundoP{
    height: 610px;
    width: 800px;
    
}


/*--------- Tela de Trabalho ------- */

.fundoT{
    height: 610px;
    width: 1000px;
    
}

.bprinicipalT{
    background-color: #8075DB;
} 


/*--------- Tela de Contato ------- */

.fundoCN{
    height: 610px;
    width: 1000px;
    position: relative;
    
}

.ContD{
    display: flex;
    justify-content: center;
}

.formulario{
    position: absolute;
    margin-top: 150px;
}

.formulario p{
    margin-top: 7px;
    color: white;
}

.tamanhoN{
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #8075DB;
    height: 25px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.tamanhoT{
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #8075DB;
    height: 25px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.tamanhoE{
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #8075DB;
    height: 25px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.tamanhoD{
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #8075DB;
    height: 80px;
    margin-top: 8px;
}

.btnE{
    align-items: center;
    background-color: #5C2AA9;
    color: white;
    margin-left: 120px;
    margin-top: 10px;
    width: 80px;
    height: 30px;
}
.btnL{
    background-color: #5C2AA9;
    color: white;
    width: 80px;
    height: 30px;
}